*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    width: 100%;
    box-shadow: gray;
}
div.container{
    display: flex;
    margin-left: 70px;
    margin-right: 30px;
}
/*dimensionamento del logo*/
div.area-logo> img{
    width: 200px;
    padding: 10px;
    margin-left: 70px;
    
}

div.navbar{
    display: flex;
    min-height: 40px;
    background-color: aquamarine;
    justify-content: space-between;
    
}

div.search-bar{
    width: 100px;
    height: auto;
}
/*impostazione dell'area sinistra*/
div.articles-area{
    margin-top: 70px;
    width: 66%;
    height: 100vh;
    background-color: yellow;
}
/*impostazione dell'area destra*/
div.discover-area{
    margin-top: 70px;
    width: 34%;
    height: 100vh;
    background-color: pink;
}
/*impostazioni della casella Membership*/
#search{
    text-align: center;
    width: 170px;
    height: 25px;
    border-radius: 30px;
    
}
/*impostazione della T su sfondo rosso*/
#t-letter{
    margin-right: 35px;
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
/*impostazioni dei riquiadri degli articoli*/
.articles{

}