*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    text-align: right;
    width: 100%;
    box-shadow: 0px 5px 20px gray;
}
div.container{
    display: flex;
    margin-left: 70px;
    margin-right: 30px;
}
/*dimensionamento del logo*/
div.area-logo> img{
    width: 200px;
    padding: 10px;
    margin-left: 70px;
    
}

div.navbar{
    display: flex;
    min-height: 40px;
    background-color: aquamarine;
    justify-content: space-between;
    
}
main{
    padding-top: 90px;
}
div.search-bar{ 
    width: 100px;
    height: auto;
}
/*impostazione dell'area sinistra*/
div.articles-area{
    width: 66%;
    height: 100vh;
    background-color: yellow;
}
div.choice{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: solid 1px grey;
    margin-bottom: 80px;
    height: 10px;
    font-weight: bold;
    color: lightgray;
}
div.autore-titolo>img{
    border-radius: 50%;
    width: 20px;
}
div.autore-titolo{
    display: flex;
    align-items: center;
}
.lista-allin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    color: lightgrey;
    list-style-type: none;
}
.bordo{
    padding: 10px;
    background-color: rgb(190, 187, 187);
    border-radius: 20px;
    color: rgb(50, 49, 49);
}

/*impostazione dell'area destra*/
div.discover-area{
    width: 34%;
    height: 100vh;
    background-color: pink;
}
.select-choice-hover:hover{
    color: black;
    border-bottom: solid 1px black;
}
/*impostazioni della casella Membership*/
#member{
    text-align: center;
    width: 160px;
    height: 25px;
    border-radius: 30px;
    
}
/*impostazione della T su sfondo rosso*/
#t-letter{
    margin-right: 35px;
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
/*impostazioni dei riquiadri degli articoli*/
#icone{
    display: flex;
    align-items: center;

}