*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: sticky;
    box-shadow: gray;
}
div.container{
    display: flex;
}
div.area-logo> img{
    width: 200px;
    padding: 10px;
    
}
div.navbar{
    position: sticky;
    display: flex;
    min-height: 40px;
    background-color: aquamarine;
    justify-content: space-between;
    
}

div.search-bar{
    width: 100px;
    height: auto;
}
div.articles-area{
    width: 66%;
    height: 100vh;
    background-color: yellow;
}

div.discover-area{
    width: 34%;
    height: 100vh;
    background-color: pink;
}

#search{
    width: 170px;
    height: 25px;
    border-radius: 30px;
    
}
#t-letter{
    text-align: center;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
}